<%= form_tag("/teams/#{@team.id}/edit/addUsersToTeam", :method => "post") do %>

<table>
	<th>User</th>

	<% @users.each do |user| %>
		<tr>
			<td><%= check_box_tag("USERID #{user.id.to_s}") %>
				<%= label_tag(user.id.to_s,"#{user.first_name} #{user.last_name} (#{user.email})") %>
				</td>
		</tr>
	<% end %>



</table>

<%= submit_tag("Add Users to #{@team.name}") %>
<% end %>
