<% content_for :head do %>
	<%= javascript_include_tag 'leaderboard/liveLeaderboard.js' %>
	<% end %>

  <% content_for :head do %>
    <%= javascript_include_tag 'admin/admin.js' %>
  <% end %>


<h1>Admin Panel</h1>

<% if current_user.try(:admin?) %>





<% end %>



	<table id="liveLeaderboard">



	</table>

	<%= render "menu/menu" %>