<% content_for :head do %>
	<%= javascript_include_tag 'home/gameScreen.js' %>
<% end %>

<div id="dataWarning">

	Warning: this page uses lots of data - ensure that you have sufficient mobile data if you are looking at this page all day.

</div>


<div id="theLiveStuff">


	<div id="recentScansDiv">
		Scans in real time
	<table id="recentScans">

	</table>

	</div>



	<div id="liveLeaderboardDiv">
		Live Leaderboard:
		<table id="liveLeaderboardFrontScreen">

		</table>
	</div>

</div>