<h1>What is QR-ScanTrak?</h1>

QR-ScanTrak is a game designed around the concept of a widespread virtual scavenger hunt. The website can generate hundreds or thousands of printable QR code tags, each of which can be scanned by players using their phones. Players can form teams or compete individually, and are able to track their placement and progress during the game.

ScanTrak can be used for a multitude of different games:

<h2>City-wide</h2>

QR-Scantrak's flagship purpose is to facilitate scavenger hunts with huge numbers of players over areas that may span an entire city. In this configuration, the organisers make small teams of base organisers, who will stay at various points in the city for the duration of the game. Players can then travel via public transport (or car) to those places to complete activities (which will earn their team points), and find tags scattered around the bases along the way.

<h2>Small scale</h2>

QR-Scantrak can also be used for smaller scale scavenger hunts, across an area the size of a single building or university campus.

<hr>

<h2>What's it like to administer a QR-Scantrak game?</h2>

Admins are provided with the tools to create tags, manage teams and players, and see scores live on both a live leaderboard and also on a live-updating map, which uses the location of each tag (stored as a latitude and longitude, which can be entered as an address). Base admins can also add and remove points from teams who come to them, based on their perfomance in activities.