<% if @failedScans.length > 0 %>
	The following scans weren't found in the database:<br />
	<ul>
	<% @failedScans.each do |failedScan| %>
			<li><%= failedScan %></li>

	<% end %>
</ul>
<% end %>



<% if @duplicateScans.length > 0 %>
Also, you have already scanned the following tags:<br />
<ul>
	<%@duplicateScans.each do |duplicateScan| %>
		<li><%= duplicateScan %></li>
	<% end %>
</ul>
	<% end %>

<% if @successfulScans.length > 0 %>
You successfully scanned the following tags:<br />
<ul>
	<%@successfulScans.each do |successfulScans| %>
		<li><%= successfulScans %></li>
	<% end %>
</ul>
	<% end %>
<%= render "menu/menu" %>