// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

td {
	border-style: solid;
	border-width: 1px;
	border-color: black;
}

.largeNumber {
	font-size: 30pt;
}

.pointsTxt {
	
	font-size:20px;
}

// Live Leaderboard

#liveLeaderboard {
	border: none;
	width:500px;
}

td.teamID {
	border:none;
	width:200px;
	margin-right:100px;
	text-align:center;
}

td.teamName {
	border:none;
	width:200px;
	margin-right:100px;
	text-align:center;

}

td.points {
	border:none;
	width: 200px;
	text-align:center;

}

td.placement {
	border:none;
	text-align:center;
	size:16px;
}